*,
*::before,
*::after {
    box-sizing: border-box;
}

#projectsDiv {
    display: flex;
    flex-direction: column;
    flex: 1;
    order: 1;
}

#todoDiv {
    display: flex;
    flex-direction: column;
    flex: 1;
    order: 2;
}

html {
    font-family: sans-serif;
    font-size: 1rem;
    color: #444;
}

#root {
    display: flex;
    flex-direction: row;
    gap: 15rem;
    /* max-width: 450px; */
    /* margin: 2rem auto; */
    /* padding: 0 1rem; */
}

form {
    display: flex;
    margin-bottom: 2rem;
}

.todoInput.projectsInput {
    border: 2px solid lightblue;
    color: gray;
}

.todoInput.projectsInput:focus {
    box-shadow: 3px 4px 3px rgba(1, 1, 1, .15);
    border: 2px solid lightblue;
    outline: none;
}

[type='text'],
button {
    display: inline-block;
    padding: .5rem 1rem;
    font-size: inherit;
    border-radius: .3rem;
    border: 2px solid lightblue;
}

button {
    cursor: pointer;
    background-color: lightblue;
    color: white;
    margin: 0 .5rem;
}

button:hover {
    box-shadow: 3px 4px 3px rgba(1, 1, 1, .15);
}

button:focus {
    background-color: rgb(146, 209, 230);
}

h1 {
    display: flex;
    align-content: center;
    align-items: center;
    color: #222;

}

ul {
    padding: 0;
}

li,
.projListItem {
    display: flex;
    align-items: center;
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: aliceblue;
    border-radius: .3rem;
    border: 2px solid lightblue;
    width: 26rem;
}

[type='text'] {
    width: 100%;
}

li span,
span,
.s {
    display: inline-block;
    padding: .5rem;
    width: 20rem;
    border-radius: .3rem;
}

li span:hover {
    background: white;
    border: 2px solid lightblue;
    border-radius: .3rem;
}

li span:focus {
    background: white;
    border: 2px solid lightblue;
    border-radius: .3rem;
    outline: none;
    box-shadow: 5px 5px 5px rgba(2, 2, 2, .25);
}

.dropdown-div {
        margin-top: -1rem;
        /* background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 10px; */
        display: none;
    }